@-webkit-keyframes filter-blur-in
{
   0% { filter: blur(20px);  }
   100% { filter: blur(0);  }
}
@-moz-keyframes filter-blur-in
{
   0% { filter: blur(20px);  }
   100% { filter: blur(0);  }
}
@keyframes filter-blur-in
{
   0% { filter: blur(20px);  }
   100% { filter: blur(0);  }
}
@-webkit-keyframes puff-in
{
   0% { -webkit-transform: rotate(0deg) scale(2,2) ; opacity: 0; -webkit-transform-origin: 50% 50%;  }
   100% { -webkit-transform: rotate(0deg) scale(1,1) ; opacity: 1; -webkit-transform-origin: 50% 50%;  }
}
@-moz-keyframes puff-in
{
   0% { -moz-transform: rotate(0deg) scale(2,2) ; opacity: 0; -moz-transform-origin: 50% 50%;  }
   100% { -moz-transform: rotate(0deg) scale(1,1) ; opacity: 1; -moz-transform-origin: 50% 50%;  }
}
@keyframes puff-in
{
   0% { transform: rotate(0deg) scale(2,2) ; opacity: 0; transform-origin: 50% 50%;  }
   100% { transform: rotate(0deg) scale(1,1) ; opacity: 1; transform-origin: 50% 50%;  }
}
@-webkit-keyframes transform-spring
{
   0% { -webkit-transform: rotate(0deg) ;  }
   30% { -webkit-transform: rotate(0deg) scale(1.0,0.5) ;  }
   40% { -webkit-transform: rotate(0deg) scale(1.0,1.5) ;  }
   50% { -webkit-transform: rotate(0deg) scale(1.0,0.7) ;  }
   61% { -webkit-transform: rotate(0deg) scale(1.0,1.4) ;  }
   72% { -webkit-transform: rotate(0deg) scale(1.0,0.8) ;  }
   83% { -webkit-transform: rotate(0deg) scale(1.0,1.2) ;  }
   100% { -webkit-transform: rotate(0deg) scale(1.0,1.0) ;  }
}
@-moz-keyframes transform-spring
{
   0% { -moz-transform: rotate(0deg) ;  }
   30% { -moz-transform: rotate(0deg) scale(1.0,0.5) ;  }
   40% { -moz-transform: rotate(0deg) scale(1.0,1.5) ;  }
   50% { -moz-transform: rotate(0deg) scale(1.0,0.7) ;  }
   61% { -moz-transform: rotate(0deg) scale(1.0,1.4) ;  }
   72% { -moz-transform: rotate(0deg) scale(1.0,0.8) ;  }
   83% { -moz-transform: rotate(0deg) scale(1.0,1.2) ;  }
   100% { -moz-transform: rotate(0deg) scale(1.0,1.0) ;  }
}
@keyframes transform-spring
{
   0% { transform: rotate(0deg) ;  }
   30% { transform: rotate(0deg) scale(1.0,0.5) ;  }
   40% { transform: rotate(0deg) scale(1.0,1.5) ;  }
   50% { transform: rotate(0deg) scale(1.0,0.7) ;  }
   61% { transform: rotate(0deg) scale(1.0,1.4) ;  }
   72% { transform: rotate(0deg) scale(1.0,0.8) ;  }
   83% { transform: rotate(0deg) scale(1.0,1.2) ;  }
   100% { transform: rotate(0deg) scale(1.0,1.0) ;  }
}
h1, .h1
{
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline-block;
}
h2, .h2
{
   font-family: Arial;
   font-weight: bold;
   font-size: 27px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline-block;
}
h3, .h3
{
   font-family: Arial;
   font-weight: bold;
   font-size: 24px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline-block;
}
h4, .h4
{
   font-family: Arial;
   font-weight: bold;
   font-size: 21px;
   font-style: italic;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline-block;
}
h5, .h5
{
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline-block;
}
h6, .h6
{
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline-block;
}
.CustomStyle
{
   font-family: "Courier New";
   font-weight: bold;
   font-size: 16px;
   text-decoration: none;
   color: #2E74B5;
   background-color: transparent;
}
