@-webkit-keyframes animate-flash
{
   0% { opacity: 1;  }
   25% { opacity: 0;  }
   50% { opacity: 1;  }
   75% { opacity: 0;  }
   100% { opacity: 1;  }
}
@-moz-keyframes animate-flash
{
   0% { opacity: 1;  }
   25% { opacity: 0;  }
   50% { opacity: 1;  }
   75% { opacity: 0;  }
   100% { opacity: 1;  }
}
@keyframes animate-flash
{
   0% { opacity: 1;  }
   25% { opacity: 0;  }
   50% { opacity: 1;  }
   75% { opacity: 0;  }
   100% { opacity: 1;  }
}
@-webkit-keyframes animate-neon-text-shadow
{
   0% { text-shadow: 0 0 5px #fff, 0 0 0px #fff, 0 0 5px #fff, 0 0 5px #49ff18, 0 0 5px #49ff18, 0 0 5px #49ff18, 0 0 5px #49ff18, 0 0 5px #49ff18;  }
   50% { text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18, 0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18;  }
   100% { text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #49ff18, 0 0 5px #49ff18, 0 0 5px #49ff18, 0 0 5px #49ff18, 0 0 5px #49ff18;  }
}
@-moz-keyframes animate-neon-text-shadow
{
   0% { text-shadow: 0 0 5px #fff, 0 0 0px #fff, 0 0 5px #fff, 0 0 5px #49ff18, 0 0 5px #49ff18, 0 0 5px #49ff18, 0 0 5px #49ff18, 0 0 5px #49ff18;  }
   50% { text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18, 0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18;  }
   100% { text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #49ff18, 0 0 5px #49ff18, 0 0 5px #49ff18, 0 0 5px #49ff18, 0 0 5px #49ff18;  }
}
@keyframes animate-neon-text-shadow
{
   0% { text-shadow: 0 0 5px #fff, 0 0 0px #fff, 0 0 5px #fff, 0 0 5px #49ff18, 0 0 5px #49ff18, 0 0 5px #49ff18, 0 0 5px #49ff18, 0 0 5px #49ff18;  }
   50% { text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18, 0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18;  }
   100% { text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #49ff18, 0 0 5px #49ff18, 0 0 5px #49ff18, 0 0 5px #49ff18, 0 0 5px #49ff18;  }
}
@-webkit-keyframes bouncing-ball-move
{
   0% { -webkit-transform: rotate(0deg) ;  }
   10% { -webkit-transform: translate(150px,250px) rotate(0deg) ;  }
   20% { -webkit-transform: translate(450px,0px) rotate(0deg) ;  }
   30% { -webkit-transform: translate(700px,250px) rotate(0deg) ;  }
   40% { -webkit-transform: translate(910px,75px) rotate(0deg) ;  }
   50% { -webkit-transform: translate(800px,0px) rotate(0deg) ;  }
   60% { -webkit-transform: translate(500px,250px) rotate(0deg) ;  }
   70% { -webkit-transform: translate(400px,0px) rotate(0deg) ;  }
   80% { -webkit-transform: translate(300px,250px) rotate(0deg) ;  }
   90% { -webkit-transform: translate(150px,0px) rotate(0deg) ;  }
   95% { -webkit-transform: translate(100px,250px) rotate(0deg) ;  }
   100% { -webkit-transform: translate(0px,0px) rotate(0deg) ;  }
}
@-moz-keyframes bouncing-ball-move
{
   0% { -moz-transform: rotate(0deg) ;  }
   10% { -moz-transform: translate(150px,250px) rotate(0deg) ;  }
   20% { -moz-transform: translate(450px,0px) rotate(0deg) ;  }
   30% { -moz-transform: translate(700px,250px) rotate(0deg) ;  }
   40% { -moz-transform: translate(910px,75px) rotate(0deg) ;  }
   50% { -moz-transform: translate(800px,0px) rotate(0deg) ;  }
   60% { -moz-transform: translate(500px,250px) rotate(0deg) ;  }
   70% { -moz-transform: translate(400px,0px) rotate(0deg) ;  }
   80% { -moz-transform: translate(300px,250px) rotate(0deg) ;  }
   90% { -moz-transform: translate(150px,0px) rotate(0deg) ;  }
   95% { -moz-transform: translate(100px,250px) rotate(0deg) ;  }
   100% { -moz-transform: translate(0px,0px) rotate(0deg) ;  }
}
@keyframes bouncing-ball-move
{
   0% { transform: rotate(0deg) ;  }
   10% { transform: translate(150px,250px) rotate(0deg) ;  }
   20% { transform: translate(450px,0px) rotate(0deg) ;  }
   30% { transform: translate(700px,250px) rotate(0deg) ;  }
   40% { transform: translate(910px,75px) rotate(0deg) ;  }
   50% { transform: translate(800px,0px) rotate(0deg) ;  }
   60% { transform: translate(500px,250px) rotate(0deg) ;  }
   70% { transform: translate(400px,0px) rotate(0deg) ;  }
   80% { transform: translate(300px,250px) rotate(0deg) ;  }
   90% { transform: translate(150px,0px) rotate(0deg) ;  }
   95% { transform: translate(100px,250px) rotate(0deg) ;  }
   100% { transform: translate(0px,0px) rotate(0deg) ;  }
}
@-webkit-keyframes flip
{
   0% { -webkit-transform: perspective(400px) rotateX(0deg) rotateY(-360deg) scale3d(1,1,1) ;  }
   50% { -webkit-transform: perspective(400px) rotateX(0deg) rotateY(-180deg) scale3d(1.2,1.2,1.2) ;  }
   100% { -webkit-transform: perspective(400px) rotateX(0deg) rotateY(0deg) scale3d(1.0,1.0,1.0) ;  }
}
@-moz-keyframes flip
{
   0% { -moz-transform: perspective(400px) rotateX(0deg) rotateY(-360deg) scale3d(1,1,1) ;  }
   50% { -moz-transform: perspective(400px) rotateX(0deg) rotateY(-180deg) scale3d(1.2,1.2,1.2) ;  }
   100% { -moz-transform: perspective(400px) rotateX(0deg) rotateY(0deg) scale3d(1.0,1.0,1.0) ;  }
}
@keyframes flip
{
   0% { transform: perspective(400px) rotateX(0deg) rotateY(-360deg) scale3d(1,1,1) ;  }
   50% { transform: perspective(400px) rotateX(0deg) rotateY(-180deg) scale3d(1.2,1.2,1.2) ;  }
   100% { transform: perspective(400px) rotateX(0deg) rotateY(0deg) scale3d(1.0,1.0,1.0) ;  }
}
h1, .h1
{
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline-block;
}
h2, .h2
{
   font-family: Arial;
   font-weight: bold;
   font-size: 27px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline-block;
}
h3, .h3
{
   font-family: Arial;
   font-weight: bold;
   font-size: 24px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline-block;
}
h4, .h4
{
   font-family: Arial;
   font-weight: bold;
   font-size: 21px;
   font-style: italic;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline-block;
}
h5, .h5
{
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline-block;
}
h6, .h6
{
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline-block;
}
.CustomStyle
{
   font-family: "Courier New";
   font-weight: bold;
   font-size: 16px;
   text-decoration: none;
   color: #2E74B5;
   background-color: transparent;
}
